
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kinabalu Reports</h2>

<p>
    <a asp-action="BelowMinStock">View Products Below Minimum Stock</a>
</p>

<p>
    <a asp-action="InactiveUser">View Inactive Users</a>
</p>

<p>
    <a asp-action="MostWishedForByCategory">View Most Wished For By Category</a>
</p>

<p>
    <a asp-action="ProductLowSales">View Products with low Sales</a>
</p>

<p>
    <a asp-action="ProductShipment">View Product Shipment Dates</a>
</p>

<p>
    <a asp-action="UnpurchasedWishedForItems">View Unpurchased Wished For Items</a>
</p>

