@using IdentityDemo.Controllers
@using Microsoft.AspNetCore.Identity
@using IdentityDemo.Models
@using Kinabalu.Services
@using Microsoft.AspNetCore.Http
@inject IAuthenticationService AuthenticationService;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{ var customerUser = AuthenticationService.GetCurrentlyLoggedInUser(HttpContextAccessor.HttpContext.Request);}
@if (!string.IsNullOrWhiteSpace(customerUser?.Customer.EmailAddress))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @customerUser.Customer.EmailAddress!</a>
            </li>
            <li>
                <a asp-area="" asp-controller="ShoppingCarts" asp-action="Index" title="Manage">Shopping Cart</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
